.gray {
  color: $gray;
  &:active, &:hover, &focus {
    color: $gray;
  }
}

.text-black {
  color: #000;
}
.bold {
  font-weight: bold;
}

.section {
  background-color: transparent;
  padding: 40px 0;
}

.bg-section {
  background-color: $bg-section;
  padding: 25px;
  border: 1px solid #e9e9e9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.heading {
  color: $gray-light;
}

.popupBG {
  @include box-shadow(0 2px 7px 0 rgba(0, 0, 0, 0.1));
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;

  @media (min-width: $screen-xs-min) {
    width: 449px;
    padding: 70px;
  }
  .popup-logo {
    margin-bottom: 20px;
    text-align: center;
    > img {
      width: 156px;
      height: 48px;
    }
  }
}

.stat {
  .stat-value {
    font-weight: 400;
    font-size: 26px;
    color: $gray-dark;
    @media (min-width: $screen-xs-min) {
      font-size: 32px;
    }
  }
  .stat-label {
    color: $gray-light;
    font-weight: 700;
  }
}

@media (min-width: $screen-sm-min) {
  .overallStats {
    > div + div {
      border-left: 1px solid #e5e5e5;
    }
  }
}

.sim_details, .device_details {
  margin-bottom: 10px;
  span {
    line-height: 20px;
    vertical-align: bottom;
  }
  .mdi {
    font-weight: 700;
    font-size: 18px;
    margin-right: 5px;
  }
  .bold {
    margin-right: 10px;
    font-weight: 700;
  }
  @media (min-width: $grid-float-breakpoint) {
    .more {
      text-align: right;
    }
  }
}

.chart-section {
  .section-head {
    clear: both;
    a.btn + a.btn {
      margin-left: 10px;
    }
    ul.nav {
      margin-bottom: 10px;
      @media (min-width: $grid-float-breakpoint) {
        float: right;
      }
    }
  }
  .chart-stats {
    padding: 40px 0;
    padding-bottom: 0;
  }
}

.highcharts-credits {
  display: none;
}

@media (min-width: $screen-xs-min) {
  .table-responsive {
    overflow: inherit;
    overflow-y: visible;
    .dropdown.open {
      .dropdown-menu {
        display: block;
      }
    }
  }
}

.table .switchery {
  margin: 6px 0;
}

.btn-white {
  background-color: #fff;
  border: none;
  @include box-shadow(0 1px 5px 0 rgba(0, 0, 0, 0.16));
  .btn-icons {
    width: 20px;
    vertical-align: text-top;
  }
}

.icheck-primary {
  label::before {
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
  }
}

.form-section-heading {
  color: #333333;
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 5px;
  margin: 30px 0;
  border-bottom: 1px solid $gray
}

.offer-details {
  div {
    margin-top: 10px;
  }
}

.buttons-radio {
  label {
    border: 1px solid $gray;
    background-color: white;
    color: gray;
  }
  input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}


.button-rad {
  display: table;
  width: 100%;
  > label {
    display: table-cell;
    border: 1px solid $gray;
    background-color: white;
    color: gray;
    width: 50%;
  }
  input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:checked + label {
      background-color: $brand-primary;
      color: #fff;
    }
  }
}