@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url(../fonts/Open_Sans/OpenSans-ExtraBold.ttf);
}


.mdi {
  font-size: 19px;
  cursor: pointer;
}