.print-page {
  color: $gray;
  font-size: 16px;

  .page {
    //page-break-after: always;
  }
  .header {
    margin-bottom: 20px;
    .header-heading {
      font-size: 28px;
    }
    .header-client {
      color: black;
      font-size: 32px;
      font-weight: 700;
    }
  }
  .printable-contacts {
    margin-top: 30px;
    .contact {
      margin-bottom: 20px;
    }
    .position {
      color: $gray;
      text-transform: uppercase;
      font-weight: 700;
    }
    .name {
      text-transform: capitalize;
      color: black;
      font-weight: 700;
    }
  }
  .footer {
    padding: 10px;
    border-top: 1px solid $brand-primary;
  }
}

@page {
  /* switch to landscape */
  size: A4;
  /* set page margins */
  margin: 15mm;
}

@media print {
  .print-page {

    /*.header {
      position: fixed;
      display: block;
      top: 0;
    }
    .footer {
      position: fixed;
      display: block;
      bottom: 0;
    }*/

    .page {
      //page-break-after: always;
      //padding-top: 40mm;
    }
  }

  //Grid options here
  [class*="col-sm-"] {
    float: left;
  }

  .col-sm-12, .col-xs-12 {
    width: 100% !important;
  }

  .col-sm-11, .col-xs-11 {
    width: 91.66666667% !important;
  }

  .col-sm-10, .col-xs-10 {
    width: 83.33333333% !important;
  }

  .col-sm-9, .col-xs-9 {
    width: 75% !important;
  }

  .col-sm-8, .col-xs-8 {
    width: 66.66666667% !important;
  }

  .col-sm-7, .col-xs-7 {
    width: 58.33333333% !important;
  }

  .col-sm-6, .col-xs-6 {
    width: 50% !important;
  }

  .col-sm-5, .col-xs-5 {
    width: 41.66666667% !important;
  }

  .col-sm-4, .col-xs-4 {
    width: 33.33333333% !important;
  }

  .col-sm-3, .col-xs-3 {
    width: 25% !important;
  }

  .col-sm-2, .col-xs-2 {
    width: 16.66666667% !important;
  }

  .col-sm-1, .col-xs-1 {
    width: 8.33333333% !important;
  }

  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12 {
    float: left !important;
  }

  a[href]:after {
    content: none;
  }

  .noprint,
  div.alert,
  .group-media,
  .btn,
  form,
  #comments,
  .nav,
  ul.links.list-inline,
  ul.action-links {
    display: none !important;
  }

}